/*common properties*/
body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #0041c2;
}

.main_blocks{
    position: absolute;
    left: 0%;
    right: 0%;
    width: 100%;
    background-color: inherit;
}

/*header properties*/
#block0_header{
    top: 0%;
    height: 30%;
    background-color: red;
}

#header{
    width: 70%;
    height: 60%;
    background-color: white;
    position: relative;
    top: 10%;
    left: 15%;
    right: 15%;
}

#header p{
    position: absolute;
    top: 5%;
    left: 40%;
    font-family: 'Trebuchet MS';
    font-size: 30px;
}



/*form container properties*/
#block1_forms{
    top: 30%;
    height: 50%;
}

/*info container properties*/
#block2_info{
    top: 80%;
    height: 50%;
}

/*footer properties*/

#block3_footer{
    top: 130%;
    height: 20%;
}

