body{ height: 100%; background-color: #0a0a0a; max-width: 100%; overflow-x: hidden;}

h1,h2,h3,h4,p{ font-family: Arial; }

.main_header
{
    display: block;
    width: 100%;
    height: 40%;
    background-color: inherit;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

.main_title_container
{
    width: 45%;
    height: 45%;
    background-color: inherit;
    position: relative;
    top: 10%;
    left: 25%;
    right: 25%;
    overflow: visible;
    border: 3px solid #ff0;
    border-radius: 20px;
    z-index: 1;
    
}

.main_title_container p
{
    color:#ff0;
    position: relative;
    top: 1%;
    padding: 5%;
    font-size: 1.5em;
    
}

.form_group
{
    width: 92%;
    height: 25%;
    position: absolute;
    top: 30%;
    left: 4%;
    right: 4%;
    background-color: inherit;
}

.form_group form
{
    position: relative;
    
    top: 10%;
    left: 29%;
}

#city_input
{
    height: 3em;
    width: 20%;
    border-radius: 5px;
    
    
}

#submit_btn
{
    position: absolute;
    background-color: black;
    border: 2px black solid;
    border-radius: 3px;
    color: #ff0;
    width: 15%;
    left: 22.5%;
    height: 100%;

}











.weather_info_container
{
    width: 92%;
    height: 38%;
    background-color: inherit;
    position: absolute;
    left: 4%;
    right: 4%;
    top: 47.5%;
    color: white;
}


.weather_info_display
{
    width: 40%;
    height: 110%;
    border: solid 2px #ff0;
    border-radius: 10px; 
    position: relative;
    left: 27.5%;
    

}


#footer{
    background-color: #ff0;
    color: white;
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 95%;
    display: block;
}

.footer_content{
    position: relative;
    left: 10%;
    padding: 25px;
    display: inline-block;
}
